.card-product {
  width: 400px;
  margin: auto;
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.2);
}

.card-product-top {
  display: flex;
  justify-content: space-between;
}

.card-product-top-image {
  width: 50%;
  background-size: cover;
  flex-shrink: 0;
  border-radius: 4px;
}

.card-product-middle {
  height: 152px;
  width: 100%;
  margin: 16px 0;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.card-product-info {
  padding: 0 16px;
}


.card-product-bottom {
  display: flex;
}
  .card-product-bottom img {
    height: 72px;
    flex-grow: 1;
    object-fit: cover;
    margin: 0 8px;
    border-radius: 4px;
  }

    .card-product-bottom img:first-child {
      margin-left: 0;
    }

    .card-product-bottom img:last-child {
      margin-right: 0;
    }